html, body {
    margin: 0;
    padding: 0;
    background-color: #27272a;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

#canvas {
    border-radius: 16px;
    background-color: #e4e4e7;
}

.hidden {
    display: none !important;
}